<br>
<div class="container form-group searcher-panel-border">
    <div class="row col-18">
        <div class="form-group col-11 no-padding">
            <div class="icon-addon addon-lg">
                <input type="text" placeholder="Name of Package" class="form-control col-12" id="searcher">
                <label for="searcher" class="glyphicon glyphicon-search" rel="tooltip" title="Name of Package"></label>
            </div>
        </div>
        <form>
            <div class="form-group col-14 no-padding">
                <select class="form-control" id="sel1">
                <option>nuget</option>
                </select>
                <br>
            </div>
        </form>
    </div>
    <div class="row col-14">
        <div class="form-group col-12 no-padding">
            <label for="exampleFormControlTextarea1">Example textarea</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
    </div>
</div>



