
<br><br><br>
<div class="container form-group searcher-panel-border">




        <div class="row col-12">
                <div class="form-group col-12">
                    <div class="icon-addon addon-lg">
                        <input type="text" placeholder="Name of Package" class="form-control col-12" id="searcher">
                        <label for="searcher" class="glyphicon glyphicon-search" rel="tooltip" title="Name of Package"></label>
                    </div>
                </div>


                <form>
                    <div class="form-group">
                        <label for="sel1">Select list (select one):</label>
                        <select class="form-control" id="sel1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        </select>
                        <br>
                    </div>
                    </form>
            </div>

</div>



