@general-lines-borders-and-outlines-color-solid:solid darkgray;
@size-general-border-outlines:1px;
@search-row-size:40px;

.package {
    width: auto;
    height: 100px;
    border: 1px solid darkgray;
    outline: @size-general-border-outlines @general-lines-borders-and-outlines-color-solid;
    background: chartreuse;
 }